.root {
  margin: calc(var(--spacing-unit) * 8);
}

@media (max-width: 960px) {
  .root {
    margin: calc(var(--spacing-unit) * 4);
  }
}

@media (max-width: 768px) {
  .root {
    margin: calc(var(--spacing-unit) * 2);
  }
}
