.root {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: calc(var(--spacing-unit) * 4);
  margin-top: calc(var(--spacing-unit) * 2);
}

.image {
  --width: 300px;

  position: relative;
  flex-basis: var(--width);
  min-width: var(--width);
  height: 400px;
  border-radius: var(--default-border-radius);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.image .timeLeft {
  --position: calc(var(--spacing-unit) * 2);

  position: absolute;
  bottom: var(--position);
  left: var(--position);
}

.details {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing-unit) * 3);
}

.details .header {
  display: flex;
  gap: var(--spacing-unit);
}

.details .header .nameContainer {
  flex: 1;
}

.details .pricing {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.details .hot {
  --width: 46px;

  display: inline-block;
  flex-basis: var(--width);
  min-width: var(--width);
  padding: calc(var(--spacing-unit) / 1.5) calc(var(--spacing-unit) * 1.2);
  background: var(--primary-color);
  border-radius: calc(var(--default-border-radius) + 2px);
  font-size: var(--heading5-font-size);
  margin-top: var(--spacing-unit);
}

.details .header .name {
  flex: 1;
  margin: 0;
  font-size: var(--heading1-font-size);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  flex: 1;
}

.details .price {
  font-size: var(--heading3-font-size);
}

.details .forSale {
  display: inline-block;
  color: var(--success-color);
  font-weight: bold;
  text-transform: capitalize;
}

.details .minted {
  text-transform: capitalize;
}

.details .footerWrapper {
  flex: 1;
  display: flex;
  align-items: flex-end;
}

.details .footer {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.details .footer .likes {
  font-size: var(--heading5-font-size);
}

.details .sellerWrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--spacing-unit);
}

.details .seller {
  display: inline-block;
  padding: var(--spacing-unit);
  margin: calc(-1 * var(--spacing-unit));
  border-radius: var(--default-border-radius);
  box-sizing: border-box;
  transition: background-color 0.2s;
}

.details .seller:hover {
  cursor: pointer;
  background-color: var(--primary-color);
}

@media (max-width: 1200px) {
  .root {
    flex-direction: column;
  }

  .image {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .details .header .name {
    font-size: var(--heading2-font-size);
  }

  .details .price {
    font-size: var(--heading4-font-size);
  }
}
