.root {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: calc(var(--spacing-unit) * 4);
  margin-top: calc(var(--spacing-unit) * 2);
}

@media (max-width: 1200px) {
  .root {
    flex-direction: column;
  }
}
