{
    "trailingComma": "all",
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "useTabs": true,
    "jsxSingleQuote": true,
    "singleAttributePerLine": true,
    "printWidth": 80,
    "plugins": ["prettier-plugin-tailwindcss", "@ianvs/prettier-plugin-sort-imports"],
    "importOrder": [
        "^react",
        "<THIRD_PARTY_MODULES>",
        "",
        "^@contexts(.*)$",
        "^@hooks(.*)$",
        "^@hocs(.*)$",
        "^@services(.*)$",
        "",
        "^@ctypes(.*)$",
        "<TYPES>",
        "",
        "^@domains(.*)$",
        "",
        "^@config(.*)$",
        "^@enums(.*)$",
        "^@constants(.*)$",
        "^@data(.*)$",
        "",
        "^[./]",
        "",
        "^@layout(.*)$",
        "^@ui(.*)$",
        "",
        "^@helpers(.*)$",
        "^@assets(.*)$"
    ],
    "importOrderBuiltinModulesToTop": true,
    "importOrderCaseInsensitive": true,
    "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
    "importOrderMergeDuplicateImports": true,
    "importOrderCombineTypeAndValueImports": false,
    "importOrderSeparation": false,
    "importOrderSortSpecifiers": true
}