.root {
  background-color: var(--primary-color);
  border-radius: var(--default-border-radius);
  color: var(--text-primary-color);
  border: none;
  outline: var(--focus-outline);
  padding: var(--spacing-unit) calc(var(--spacing-unit) * 2);
  border: 2px solid transparent;
  font-weight: 500;
  user-select: none;
  transition-property: border-color, background-color, color, transform;
  transition-duration: 0.2s;
}
.root:hover:not(:disabled) {
  cursor: pointer;
  background-color: var(--active-primary-color);
  color: var(--text-active-primary-color);
}
.root:active:not(:disabled):not(.secondary) {
  transform: scale(0.95);
}
.root:disabled {
  opacity: var(--disabled-opacity);
  cursor: not-allowed;
  color: var(--secondary-text-color);
}
.root.loading {
  height: 37px;
}
.root.secondary {
  background-color: transparent;
  color: var(--primary-color);
  padding: 0;
  border: none;
}
.root.secondary:hover {
  text-decoration: underline;
  background-color: transparent;
  color: var(--primary-color);
}
.root.fullwidth {
  display: block;
  width: 100%;
}

.loader {
  position: relative;
  top: -4px;
  height: 20px;
  color: var(--text-primary-color);
}
