.root {
  display: flex;
  align-items: center;
  gap: calc(var(--spacing-unit) / 3);
  font-size: var(--small-text-font-size);
}
.root.liked {
  color: var(--danger-color);
  fill: var(--danger-color);
}
.root.big {
  font-size: var(--heading5-font-size);
}

.icon {
  width: 17px;
}
.root.big .icon {
  width: 25px;
}
