.root {
  display: inline-block;
  border-radius: 200rem;
  background-color: var(--grey-50);
  color: var(--text-color-inverted);
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  padding: calc(var(--spacing-unit) / 5) calc(var(--spacing-unit) / 1.5);
  user-select: none;
}
