.root {
  margin-top: calc(var(--spacing-unit) * 2);
}

.header {
  justify-content: center;
  margin-bottom: calc(var(--spacing-unit) * 10);
}

.noNFTs {
  text-align: center;
  font-size: var(--heading5-font-size);
}
