:root {
  --app-background: linear-gradient(#f2e2e6, #f1e1e5);

  /* Font sizes */
  --heading1-font-size: 30px;
  --heading2-font-size: 26px;
  --heading3-font-size: 22px;
  --heading4-font-size: 18px;
  --heading5-font-size: 16px;
  --text-font-size: 14px;
  --small-text-font-size: 12px;

  /* Text colors */
  --text-color: #2e2652;
  --text-color-inverted: #fff;
  --secondary-text-color: #a19cbd;
  --title-color: #2e2652;

  /* Colors */
  --shadow-color: rgba(0, 0, 0, 0.03);
  --primary-color: #f2e2e6;
  --active-primary-color: #f8eef0;
  --border-color: #eee;
  --danger-color: #fe383a;
  --faded-danger-color: #fbebeb;
  --success-color: #6ebc8c;

  /* Sizes */
  --content-default-max-width: 1200px;
  --small-content-max-width: 960px;
  --spacing-unit: 10px;

  /* Misc */
  --default-border-radius: 6px;
}

html,
body {
  margin: 0;
  background: var(--app-background);
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: var(--text-font-size);
  color: var(--text-color);
}

body {
  min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Raleway, Arial, Helvetica, sans-serif;
  line-height: 1.125;
  color: var(--title-color);
  letter-spacing: -0.02rem;
}

h1,
h2 {
  font-weight: 600;
}

h3,
h4 {
  line-height: 1.25;
  font-weight: 600;
}

h5,
h6 {
  line-height: 1.5;
  font-weight: 500;
}

p {
  line-height: 1.5;
  font-family: inherit;
  font-weight: 400;
  font-size: var(--text-font-size);
}

button {
  font-family: Raleway, Arial, Helvetica, sans-serif;
  line-height: 1;
  font-weight: 500;
}

a,
span,
div {
  font-size: var(--text-font-size);
}

a {
  color: var(--text-color);
  text-decoration: none;
}
a:hover {
  cursor: pointer;
  text-decoration: underline;
}

input {
  color: var(--text-color);
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: var(--input-font-size);
}
