.root {
  box-shadow: 0 0 30px var(--shadow-color);
}

.root section:not(:first-child) {
  margin-top: calc(var(--spacing-unit) * 10);
}

.title {
  display: block;
  text-transform: capitalize;
  margin-bottom: calc(var(--spacing-unit) * 1.5);
}

.subtitle {
  color: var(--secondary-text-color);
  font-size: var(--text-font-size);
}
.subtitle::first-letter {
  display: block;
  text-transform: uppercase;
}

.bestSellers,
.auctions {
  margin-top: calc(var(--spacing-unit) * 4);
}
